.text-dark {
    color: hsla(220, 50%, 17%, 1);
}

.text-grey {
    color: hsla(221, 23%, 58%, 1);
}

.text-white {
    color: hsla(0, 0%, 100%, 1);
}



.bg-grey {
    background-color: hsla(198, 28%, 93%, 1);
}

.bg-orange {
    background-color: hsla(22, 88%, 52%, 1);
}













.font-family {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 32px;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px;
    margin-left: 6.4%;
    margin-right: 6.4%;
}

h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}

.text-size-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.text-weight {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}


.icon-specs {
    width: 35px;
    height: 35px;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 48px;
    margin-top: 64px;
}

.button-specs {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.margin {
    margin-left: 6.4%;
    margin-right: 6.4%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.4%;
    margin-bottom: 64px;
}

p {
    margin-bottom: 32px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}


.section-2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 46px;
}

.large-keyboard {
    max-width: 100%;
    height: 410px;
    background-image: url(./assets/mobile/image-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 6.4%;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 6.4%;
}

.phone-and-keyboard {
    flex-basis: 33%;
    min-height: 232px;
    background-image: url(./assets/mobile/image-phone-and-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 90px;
}

.orange-background {
    min-height: 232px;
    border-radius: 0px 20px 20px 0px;
    background-color: hsla(22, 102%, 36%, 0.7);
}

.glass-and-keyboard {
    flex-basis: 54%;
    height: 232px;
    background-image: url(./assets/mobile/image-glass-and-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 6.4% 24px 6.4%;
    margin-bottom: 90px;
}

.section-3 {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 96px;
}

footer {
    display: flex;
    justify-content: center;
}

.space {
    margin-right: 5px;
}

@media only screen and (min-width: 752px) {
    .section-1 {
        display: flex;
        flex-wrap: wrap;
    }

    .header-container {
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .large-keyboard {
        flex-basis: 42%;
        margin-left: 0px;
        background-image: url(./assets/tablet/image-keyboard.jpg);
    }

    .phone-and-keyboard {
        flex-basis: 28%;
        min-height: 361px;
        background-image: url(./assets/tablet/image-phone-and-keyboard.jpg);
        border-radius: 20px;
        margin-left: 6.4%;
    }

    .section-2 {
        text-align: unset;
    }

    .h2-container {
        display: flex;
    }

    .orange-background {
        min-height: 372px;
        border-radius: 20px;
    }

    .glass-and-keyboard {
        flex-basis: 52.8%;
        height: 372px;
        background-image: url(./assets/tablet/image-glass-and-keyboard.jpg);
    }

    h2 {
        flex-basis: 27%;
        margin-left: 6.4%;
        margin-right: 6.4%;
    }

    .flex-p {
        flex-basis: 47%;
    }

    .section-3 {
        flex-direction: unset;
        flex-wrap: wrap;
        text-align: unset;
        margin-right: 0px;
    }

    .specs-container {
        flex-basis: 41%;
        margin-right: 9%;
    }

    h3 {
        max-width: 219px;
    }
}

@media only screen and (min-width: 1423px) {
    .margin {
        margin-left: 11.45%;
        margin-right: 11.45%;
    }

    .header-container {
        flex-basis: 23%;
    }

    .large-keyboard {
        flex-basis: 42.45%;
        height: 472px;
        border-radius: 20px;
        background-image: url(./assets/desktop/image-keyboard.jpg);
        margin-bottom: 3%;
    }

    .blue-box {
        flex-basis: 8.65%;
        max-width: 100%;
        height: 240px;
        background-image: url(./assets/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px 0px 0px 20px;
        margin-bottom: 6.4%;
        margin-left: 3%;
    }

    .blue-box-left {
        flex-basis: 8.45%;
        height: 232px;
        margin-top: 245px;
        background-image: url(./assets/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0px 20px 20px 0px;
    }

    .phone-and-keyboard {
        flex-basis: 19%;
        height: 472px;
        background-image: url(./assets/desktop/image-phone-and-keyboard.jpg);
        margin-left: 3%;
    }

    .orange-background {
        height: 472px;
    }

    .glass-and-keyboard {
        flex-basis: 26.8%;
        height: 472px;
        background-image: url(./assets/desktop/image-glass-and-keyboard.jpg);
        margin: 0px 0% 24px 4%;
    }

    .h2-container {
        flex-direction: column;
        flex-basis: 38%;
        justify-content: center;
        max-height: 472px;
    }

    h2 {
        margin-left: 30%;
        margin-right: 11.45%;
        max-width: 318px;
        flex-basis: unset;
    }

    .flex-p {
        flex-basis: unset;
        margin-bottom: 0px;
        max-width: 263px;
        margin-left: 30%;
    }

    .specs-container {
        flex-basis: 22%;
        margin-right: 3%;
    }

    .bg-grey:hover {
        background-color: hsla(220, 50%, 17%, 1);
        color:hsla(0, 0%, 100%, 1);
    }
    
    .bg-orange:hover {
        background-color: hsla(22, 100%, 69%, 1);
    }
}