.text-dark {
    color: hsla(220, 50%, 17%, 1);
}

.text-grey {
    color: hsla(221, 23%, 58%, 1);
}

.text-white {
    color: hsla(0, 0%, 100%, 1);
}



.bg-grey {
    background-color: hsla(198, 28%, 93%, 1);
}

.bg-orange {
    background-color: hsla(22, 88%, 52%, 1);
}






.bg-dark:hover {
    background-color: hsla(220, 50%, 17%, 1);
}

.bg-light-orange:hover {
    background-color: hsla(22, 100%, 69%, 1);
}






.font-family {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 32px;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.text-size-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.text-weight {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}





.button-specs {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.margin {
    margin-left: 6.4%;
    margin-right: 6.4%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 64px;
}

p {
    margin-bottom: 32px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.large-keyboard {
    max-width: 100%;
    height: 410px;
    background-image: url(./assets/mobile/image-keyboard.jpg);
    background-repeat: no-repeat;
    margin-left: 6.4%;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 24px;
}